@import "@primer/css/product/index.scss";

.markdown-body {
  .task-list-item {
    list-style-type: none;
  }

  .task-list-item label {
    font-weight: 400;
  }

  .task-list-item.enabled label {
    cursor: pointer;
  }

  .task-list-item + .task-list-item {
    margin-top: 3px;
  }

  .task-list-item .handle {
    display: none;
  }

  .task-list-item.plain-task-item:hover > .convert-to-issue-button {
    position: inherit;
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }

  .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
  }

  .contains-task-list {
    padding: 0;
  }
  
  a {
    color: var(--color-text-link, #0366d6);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
